.sponsor-logo {
  width: 100%;
  height: auto;
}

.intro .intro-text.registration-title {
  font-size: 45px;
  text-align: center
}

.form {
  text-align: left;
  margin-top: 100px;
}

.form-group {
  margin-bottom: 35px;
}
