{% extends "template/home.html" %}
        {% block links %}
        <a class="navbar-brand page-scroll" href="/">
            <span class="light">UB </span>Hacking
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
                <a href="#page-top"></a>
            </li>

        </ul>
    </div>
    {% endblock %}

{% block body %}
    <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <!-- Start Form -->
                    <row>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="brand-heading">ub hacking</div>
                            <p class="intro-text">November 7 - 9</p>
                            </p>
                        </div>
                    </row>
                    <row>
                    <!-- End Form -->
                </div>
            </div>
        </header>

{% endblock %}   </center>
      </div>
      <div class= "row afterSignup">
        <center>
          Thank you for your interest in UB Hacking. We will let you know when registration opens!
        </center>
      </div>

    <div class="container">
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/splash.js"
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
