{% extends "template/home.html" %}
        {% block links %}
        <a class="navbar-brand page-scroll" href="/">
            <span class="light">UB </span>Hacking
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li class="hidden">
                <a href="#page-top"></a>
            </li>

        </ul>
    </div>
    {% endblock %}

{% block body %}
    <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <!-- Start Form -->
                    <row>
                        <div class="col-md-12">
                            <p class="registration-title intro-text">
                                Thank you for registering for UB Hacking 2014!
                            </p>
                        </div>
                    </row>
                    <row>
                        <div class="col-md-6 col-md-offset-3">
                            <p>
                                We will confirm your seat at UB Hacking via email on October 17th. 
                            </p>
                            <p>
                                Unfortunately, we have to cap at 250 seats, but we'll let you know if you're on the waitlist on the 17th too!
                            </p>
                        </div>
                    </row>
                    <!-- End Form -->
                </div>
            </div>
        </header>

{% endblock %}